.cards {
    display: grid;
    list-style: none;
    grid-template-columns: 33% 33% 33%;
    gap: 16px;
    padding: 80px 0;
    width: 80%;  
}

.card {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 10px;
    border: 1px solid black;
}

