.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}

.inputs-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.search {
  display: grid;
}

@media screen and  (max-width: 650px) {
  .inputs-container {
    flex-direction: column;
  }
  .App {
    height: 100%;
    min-height: 100vh;
  }
}



